@import "mixin_style.less";
@import "global_style.less";

/*
 *内容主体外层
 */
.main_div();
/*
 *当前位置
 */
.current-pos {
  .current-position();
}
/**
 * 主-左
 */
.main-left{
  @_width: 750px;

  width: @_width;
  box-sizing: border-box;
}
/**
 * 主-右
 */
.main-right{
  @_width: 240px;

  width: @_width;
  box-sizing: border-box;
}
/**
 * 评论用户详情
 */
.comment-user{
  @_height: 230px;

  width: 100%;
  height: @_height;
  margin-top: 2 * @div_margin;
}
/**
 * 评论用户信息
 */
.user-info-wrapped{
  @_width: 310px;

  width: @_width;
  height: 100%;

  .user-info{

  }
}
/**
 * 用户的更多心得
 */
.user-more-comments{
  @_width: 440px;

  width: @_width;
  height: 100%;
}
