@import "mixin_style.less";
@import "global_style.less";

//边框混合
.border_shadow(){
  border-radius: 1px;
  box-shadow: 0 0 1px lighten(@main_color,8%);
  background-color: @white_color;
}
/*
 *内容主体外层
 */
.main_div();
/*
 *当前位置
 */
.current-pos {
  .current-position();
}
/**
 * 主-左
 */
.main-left{
  @_width: 750px;

  width: @_width;
  box-sizing: border-box;
}
/**
 * 主-右
 */
.main-right{
  @_width: 240px;

  width: @_width;
  box-sizing: border-box;
}
/**
 * 评论用户详情
 */
.comment-user{
  @_height: 200px;

  width: 100%;
  height: @_height;
  margin-top: 2 * @div_margin;
}
/**
 * 评论用户信息
 */
.user-info-wrapped{
  @_width: 310px;

  position:relative;
  float: left;

  width: @_width;
  height: 100%;

  background-color: @bg_color;

  .user-info{
    @_width: 250px;
    @_height: 120px;

    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    width: @_width;
    height: @_height;
    margin: auto;

    .info-left{
      @_width: 115px;

      float: left;

      width: @_width;

      background-color: @white_color;
      box-shadow: 0 0 1px lighten(@border_color,10%);

      img{
        @_size:@_width - 4px;
        width: @_size;
        height: @_size;
        margin-top: 2px;
        margin-left: 2px;
      }
    }
    .info-right{
      @_width: 125px;

      float: left;

      width: @_width;
      box-sizing: border-box;
      padding-left: 10px;

      font-size: 13px;
      color: @desc_strong_color;

      .user-name{
        color: @main_color;
        font-size: 14px;
        font-weight: 600;
      }
      p{
        margin: 5px 5px;
      }
      a{
        margin-left: 10px;

        text-decoration: none;
        color: @main_color;
      }
    }
  }
}
/**
 * 用户的更多心得
 */
.user-more-comments{
  @_width: 420px;

  float: left;

  display: inline-block;
  width: @_width;
  height: 100%;
  margin-left: 20px;

  //更多心得标题
  .more-comment-label{
    @_height: 30px;

    height: @_height;
    box-sizing: border-box;

    color: @title_color;
    font-size: 18px;
    font-weight: 500;

    border-bottom: 2px solid @border_color;

    .her-more{
      float: right;

      display: inline-block;
      box-sizing: border-box;
      height: @_height;
      padding-top: 10px;

      text-decoration: none;
      color: @main_color;
      font-size: 12px;
    }
  }
  //用户更多心得
  .more-comment-list{
    .horizontal_ul();

    @_width: 115px;
    @_height: 160px;

    width: 100%;
    height: @_height;
    margin-top: 10px;
    padding-left: 18px;

    li{

      display: inline-block;
      width: @_width;
      margin-right: 15px;

      .pic{
        width: @_width;
      }
      .name{
        margin: 0;
        width: 100%;
        height: 45px;

        color: @desc_strong_color;
        font-size: 12px;
        font-weight: 500;
        text-align: center;

        a{
          text-decoration: none;

          transition: all .2s ease-in-out;

          &:hover{
            color: @main_color;
          }
        }
      }
    }
  }
}
/**
 * 文章内容块
 */
.comment-details-container{
  box-sizing: border-box;
  margin-top: 2 * @div_margin;

  border: solid .5px lighten(@border_color,8%);
}
/**
 * 产品简略信息
 */
.product-info-wrapped{
  position:relative;

  width: 100%;
  height: 100px;

  border-bottom: dashed .5px lighten(@border_color,10%);
}
.product-info{
  @_height: 65px;

  width: 95%;
  height: @_height;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  .pi-left{
    @_width: 65px;

    float: left;

    width: @_width;

    border: solid 1px @border_color;

    img{
      width: 100%;
    }
  }
  .pi-right{
    float: left;

    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 30px;
  }
  p{
    margin: 2px;

    color: @desc_color;
    font-size: 0;
    a{
      font-size: 14px;
      text-decoration: none;
      &:hover{
        color: @main_color;

        transition: all .2s ease-in-out;
      }
    }
    .split-line{
      &:after{
        content: "|";

        margin: 0 4px;

        font-size: 14px;
      }
    }
  }
}
/**
 * 心得标题
 */
.comment-title{

  @_height: 70px;

  line-height: @_height;

  h1{
    display: inline-block;
    padding-left: 5px;

    color: @font_strong_color;
    font-size: 18px;
    font-weight: 500;
  }
  span{
    display: inline-block;
  }
}
/**
 *  心得内容
 */
.comment-details{
  box-sizing: border-box;
  padding: 10px 15px;

  color: @font_color;
  font-size: 14px;
  letter-spacing: 2px;
}
.comment-btn{
  padding: 10px 15px;

  text-align: right;
  a{
    text-decoration: none;
    color: @main_color;
    font-size: 13px;
    font-weight: 500;
  }
}
/**
 * 上一篇、下一篇操作
 */
.lr_comment{
  padding-bottom: 10px;

  color: @desc_color;
  font-size: 13px;
  text-align: center;

  &>span{
    margin: 0 10px;
  }

  a{
    text-decoration: none;
    color: @font_color;

    &:hover{
      color: @main_color;

      transition: all .2s ease-in-out;
    }
  }
}
/**
 * 心得回复列表块
 */
.comment-reply-container{

  .horizontal_ul();

  width: 100%;
  margin-top: 2 * @div_margin;
  padding-bottom: 15px;

  li{
    height: 145px;
    padding-left: 5px;
  }
}
/**
 * 心得回复列表项
 */
.reply-item{
  width: 100%;

  .left{
    float: left;
  }
  .right{

    @_height: 145px;

    float: left;
    position: relative;

    height: @_height;
    .border_shadow();
  }
}
/**
 * 回复用户头像
 */
 .portrait-wrapped{
   @_width: 100px;
   @child_width: 100px;
   @child_height: 21px;

   width: 145px;

   img{
     width: @_width;

     border-radius: 2px;
     border: solid 2px @border_color;
   }
   p{
     .no_wrap_text();

     width: @child_width;
     height: @child_height;
     margin: 0;
     padding: 0;

     line-height: @child_height;
     text-align: center;
     font-size: 12px;
     color: @font_color;
   }
   font{
     color: @main_color;
   }
 }
 /*
  *直角三角形
  */
 .triangle-pointer{
   position: absolute;
   z-index: 1;

   left: -25px;
   top: 10px;

   .right-angled-triangle-left(25px,lighten(@main_color,15%));

   .background{
     position: absolute;
     z-index: 2;

     top: -24px;
     left: -23px;

     .right-angled-triangle-left(23px,@white_color);
   }
 }
 /**
  * 回复详情内容块
  */
 .reply-detail{
   @_width: 600px;

   width: @_width;

   padding: 0 5px;
}
//评论用户
.reply-user{
  @_width: 550px;

  width: @_width;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px 10px;

  font-size: 12px;
  color: @desc_strong_color;

  background-color: @bg_color;

  a{
    text-decoration: none;
    color: @main_color;
  }
}
//使用心得详情
.reply-content{
  height: 55px;
  padding: 5px 8px;

  font-size: 13px;
  color: @font_color;
}
//评论时间
.reply-time{
  display: block;
  width: 100%;
  padding-right: 10px;

  text-align: right;
  font-size: 12px;
  color: @desc_color;
}
hr{
  margin: 0;
  margin: 3px 0;

  border: dashed .5px @border_color;
}
/**
 * 添加回复框
 */
.reply-add-container{
  margin-top: 2 * @div_margin;

  .label{
    @_height: 38px;

    width: 100%;
    height: @_height;

    line-height: @_height;
    font-size: 20px;
    font-weight: 500;
    color: @font_color;
  }
  hr{
    margin: 0;
    margin-bottom: @div_margin;

    border: solid 1px @main_color;
    background-color: @main_color;
  }
  textarea{
    padding: 10px;
    margin: 2px;
    resize: none;

    .purple_input_style();
  }
}
/**
 * 回复按钮
 */
.reply-add-btn{
  @_height: 30px;

  width: 100%;
  height: @_height;
  margin-top: @div_margin;
  margin-bottom: @div_margin;
  text-align: right;

  .add-btn{
    display: inline-block;
    width: 105px;
    height: @_height;

    line-height: @_height;
    text-align: center;
    text-decoration: none;
    color: @white_color;
    font-size: 14px;
    font-weight: 600;

    border-radius: 1px;
    background-color: @main_color;

    &:hover{
      background-color: @main_strong_color;
    }
  }
}
