//颜色定义
@white_color: #fff;//白色
@dark_color: #000;//黑色
@light_purple: #fff0f5;//淡紫色
@bg_color: @light_purple;//背景
@grey_bg_color: lighten(@desc_color,39%);
@grey_bg_strong_color: lighten(@desc_color,35%);
@border_color: lighten(@desc_color,20%);//边框
@desc_color: #999999;//描述
@desc_strong_color: #666666;//描述加强
@font_color: #333333;//正文字体
@font_strong_color: darken(@font_color,10%);//强调字体
//@font_strong_color: lighten(@title_color,20%);//强调字体
@title_color: @dark_color;//标题

@link_color: #0092d2;//链接
@main_color: #CC99CC;//主
@main_strong_color: darken(@main_color,8%);//主强调
//@main_strong_color: #996699;//主强调
@alert_color: #CC3333;//提醒，红色

//网页宽度定义
@global_width: 1000px;

//块间隙
@div_margin: 13px;
//初始化代码片段
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
button{border:none;}
//字体
body{
  font-family: "微软雅黑";
}
//内容主体外层
.main_div(){
  .main-wrapped {
    width: 100%;
    margin: 0 auto;

    background-color: @white_color;
  }

  .main-container {
    width: @global_width;
    margin: 0 auto;

    hr{
      height: 0px !important;
      margin: 15px 0;

      border: solid .5px lighten(@main_color,15%);

      .opacity_mixin(0.35);
    }
  }
}
//当前位置
.current-position(){
  width: 100%;
  margin-top: 10px;

  font-size: 12px;

  a {
    color: @font_strong_color;
    text-decoration: none;

    transition: all ease-in-out 0.2s;

    &:hover {
      color: @main_color;
      text-decoration: none;
    }
  }

  .split-line {
    &:before {
      content: ">>";
      margin: 0 2px;
    }
  }

  .title {
    color: @desc_strong_color;
    font-weight: 500;
  }
}
//输入框样式
.purple_input_style(){
  outline: none;
  border: solid 1px lighten(@main_color,15%);

  &:focus{
    border: solid 1px @main_color;
  }
}
//加载更多按钮
.load-more-wrapped{
  @_height: 24px;

  width: 100%;
  height: @_height;

  text-align:center;
  font-size: 13px;

  .load-more-btn{
    @_width: 62px;

    display: inline-block;
    width: @_width;
    height: @_height;
    padding: 8px auto;

    line-height: @_height;
    vertical-align: middle;
    color: @white_color;
    font-weight: 550;
    text-decoration: none;

    background-color: @border_color;
    border-radius: 2px;

    &:hover{
      background-color: @main_color;
    }
  }
  .no-more-load{
    line-height: @_height;
    color: @desc_color;
  }
}
