@import "mixin_style.less";
@import "global_style.less";

@div_margin: 15px;
/*
 *内容主体外层
 */
.main-wrapped {
  width: 100%;
  margin: 0 auto;

  background-color: @white_color;
}

.main-container {
  width: @global_width;
  margin: 0 auto;
}
/*
 *当前位置
 */
.current-pos {
  width: 100%;
  margin-bottom: 20px;

  font-size: 12px;

  a {
    color: @font_strong_color;
    text-decoration: none;

    transition: all ease-in-out 0.2s;

    &:hover {
      color: @main_color;
    }
  }

  .split-line {
    &:before {
      content: ">";
      margin: 0 2px;
    }
  }

  .product-name {
    color: @desc_strong_color;
  }
}
/*
 *产品信息
 */
@product_container_height: 357px;
.product-container{
  width: 100%;
  min-height: @product_container_height;
}
/*
 *产品图片容器
 */
@left_width: 300px;
@left_height: 350px;

.product-images-container {
  float: left;

  width: @left_width;
  height: @left_width;

  border: solid 1px @border_color;
}
/*
*产品图片大图显示
*/

.image-display {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  div {
    position: absolute;

    width: 100%;
    height: 100%;
    display: table;

    text-align: center;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
/*
*产品图片缩略图
*/
.thumbnail-container {
  width: @left_width;
  height: @left_height - @left_width;
  margin: 5px auto 0;

  @_width: 260px;
  @_height: 50px;

  & > div {
    float: left;
    position: relative;
    z-index: 1;

    width: @_width;
    height: 100%;
    box-sizing: border-box;

    overflow: hidden;
  }

  & > span {
    float: left;

    display: inline-block;
    height: 100%;
    width: 20px;

    line-height: @_height;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
  }
  /*
   *缩略图上一页
   */
  .previous-btn {
    &:before {
      content: "";

      position: relative;
      left: -7px;

      vertical-align: middle;
      .triangle(left,8px,@main_strong_color);
    }
  }
  /*
   *缩略图下一页
   */
  .next-btn {
    &:before {
      content: "";

      position: relative;
      right: -7px;

      vertical-align: middle;
      .triangle(right,8px,@main_strong_color);
    }
  }
}
/*
 *缩略图列表
 */
.thumbnail-list {
  position: absolute;

  display: inline-block;

  @_size: 50px;

  a {
    float: left;

    display: inline-block;
    width: @_size;
    height: @_size;
    margin: auto 1px;
    box-sizing: border-box;

    line-height: @_size - 5px;
    text-align: center;
    vertical-align: middle;

    border: solid @main_color .5px;
    cursor: pointer;
  }

  img {
    vertical-align: middle;
  }

  .current-li {
    border: solid @main_strong_color .5px;
  }
}
/*
 产品基本信息
 */
.product-base-info{
  @_width: 390px;
  @_height: 357px;

  float: left;

  width: @_width;
  min-height: @_height;
  margin-left: @div_margin;

  h1{
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;

    a{
      text-decoration: none;
      color: @title_color;

      &:hover{
        color: @main_color;
      }
    }
  }
  p{
    margin:0;
    padding-top: 8px;

    font-size:12px;
    color: @desc_color;

    span{
      padding: 5px;
    }
    a{
      padding: 5px;

      color: @font_strong_color;
      text-decoration: none;

      transition: all .2s ease-in-out;

      &:hover{
        color: @main_color;
      }
    }
    .price{
      color: @main_color;
      font-size: 14px;
      font-weight: 700;
    }
    .spec{
      color: @desc_strong_color;
    }
  }
  //产品信息
  .product-details{
    margin-top: 2 * @div_margin;

    p{
      color: @font_color;
    }

    span{
      font-size:12px;
      color: @desc_color;
    }
    .show-more{
      color: @main_color;
    }
  }
}

/*
 *产品评分汇总
 */
.product-rating-wrapped{
  @_width: 280px;
  @_height: 357px;

  float: left;
  position:relative;

  width: @_width;
  height: @_height;
}
.product-rating{
  @_width: 210px;

  width: @_width;
  height: 100%;

  margin:auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -105px;/*使用负值margin将子块偏移自身宽度值的50%*/
    margin-top:-178px;

  .rating-brief{
    background-color: @bg_color;
  }

  .rating-title{
    @_height: 35px;

    width: 100%;
    height: @_height;

    line-height: @_height;
    text-align: center;
    color: @desc_strong_color;
    font-size: 14px;
    font-weight: 700;
  }
  .rating-count{
    @_width: 170px;
    @_height: 50px;

    width: @_width;
    height: @_height;
    margin: 0 auto;

    .left{
      float: left;

      width: @_height;
      height: @_height;

      line-height: @_height;
      color: @main_strong_color;
      font-size: 30px;
    }
    .right{
      float: left;

      width: @_width - @_height - 10px;
      height: @_height;
      margin-left: 10px;

      .right-down{
        a{
          display: inline-block;
          height: 18px;

          line-height: 18px;
          font-size: 12px;
          color: @link_color;
          text-decoration: none;

          &:hover{
            background-color: @link_color;
            color: @white_color;
          }
        }
      }
    }
  }
  .rating-more{
    padding: 5px 5px;
    margin-top: @div_margin;

    background-color: @bg_color;

    hr{
      border: dotted .5px @main_strong_color;
      .opacity_mixin(0.5);
    }
  }
  .rating-details{
    .horizontal_ul();
  }
  .rating-on-weight{
    @_height: 12px;

    height: @_height;
    margin: 10px auto;

    &>span{
      float: left;

      display: inline-block;
    }
    .rating-wrapped{
      height: @_height;
      line-height: @_height;

      input{
        vertical-align: middle;
      }
    }
    .rating-power-wrapped{
      @_width: 95px;

      max-width: @_width;
      height: @_height;

      line-height: @_height;
    }
    .rating-power{
      display: block;
      //width: 20%;
      height: 100%;

      background-color: @main_color;
    }
    .rating-per{
      @_width: 35px;

      width: @_width;
      height: @_height;

      line-height: @_height;

      text-align: center;
      color: @title_color;
      font-size: 12px;
    }
  }
  //按钮
  .product-ops{
    @btn_width: 110px;
    @btn_height: 30px;

    .btn-wrapped{
      width: 100%;
      height: 40px;

      text-align: center;
    }
    .reply-btn{
      display: inline-block;
      width: @btn_width;
      height: @btn_height;
      box-sizing: border-box;

      line-height: @btn_height;
      text-align: center;
      color: @white_color;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;

      border: solid .5px @border_color;
      box-shadow: 0 0 3px lighten(@border_color,10%);
      border-radius: 4px;
      background-color: @main_color;
    }
    .love-btn{
      .reply-btn();

      color: @desc_strong_color;
      .linear_gradient_to_bottom(lighten(@grey_bg_color,20%),darken(@grey_bg_color,5%));

      font{
        font-weight: 700;
        color: @main_color;
      }
    }
  }
}
