@import "mixin_style.less";
@import "global_style.less";

@div_margin: 15px;
//边框混合
.border_shadow(){
  border-radius: 1px;
  box-shadow: 0 0 2px lighten(@main_color,8%);
  background-color: @white_color;
}
/*
 *内容主体外层
 */
.main-wrapped {
  width: 100%;
  margin: 0 auto;

  background-color: @white_color;
}

.main-container {
  width: @global_width;
  margin: 0 auto;

  hr{
    margin: 15px 0;

    border: solid .5px lighten(@main_color,15%);

    .opacity_mixin(0.4);
  }
}
/*
 *当前位置
 */
.current-pos {
  width: 100%;

  font-size: 12px;

  a {
    color: @font_strong_color;
    text-decoration: none;

    transition: all ease-in-out 0.2s;

    &:hover {
      color: @main_color;
    }
  }

  .split-line {
    &:before {
      content: ">";
      margin: 0 2px;
    }
  }

  .product-name {
    color: @desc_strong_color;
  }
}
/*
 *产品信息
 */
@product_container_height: 357px;
.product-container{
  width: 100%;
  min-height: @product_container_height;
}
/*
 *产品图片容器
 */
@left_width: 300px;
@left_height: 350px;

.product-images-container {
  float: left;

  width: @left_width;
  height: @left_width;

  border: solid .5px lighten(@main_color,15%);
}
/*
*产品图片大图显示
*/

.image-display {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  div {
    position: absolute;

    width: 100%;
    height: 100%;
    display: table;

    text-align: center;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
/*
*产品图片缩略图
*/
.thumbnail-container {
  width: @left_width;
  height: @left_height - @left_width;
  margin: 5px auto 0;

  @_width: 260px;
  @_height: 50px;

  & > div {
    float: left;
    position: relative;
    z-index: 1;

    width: @_width;
    height: 100%;
    box-sizing: border-box;

    overflow: hidden;
  }

  & > span {
    float: left;

    display: inline-block;
    height: 100%;
    width: 20px;

    line-height: @_height;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
  }
  /*
   *缩略图上一页
   */
  .previous-btn {
    &:before {
      content: "";

      position: relative;
      left: -7px;

      vertical-align: middle;
      .triangle(left,8px,@main_strong_color);
    }
  }
  /*
   *缩略图下一页
   */
  .next-btn {
    &:before {
      content: "";

      position: relative;
      right: -7px;

      vertical-align: middle;
      .triangle(right,8px,@main_strong_color);
    }
  }
}
/*
 *缩略图列表
 */
.thumbnail-list {
  position: absolute;

  display: inline-block;

  @_size: 50px;

  a {
    float: left;

    display: inline-block;
    width: @_size;
    height: @_size;
    margin: auto 1px;
    box-sizing: border-box;

    line-height: @_size - 5px;
    text-align: center;
    vertical-align: middle;

    border: solid @main_color .5px;
    cursor: pointer;
  }

  img {
    vertical-align: middle;
  }

  .current-li {
    border: solid @main_strong_color .5px;
  }
}
/*
 产品基本信息
 */
.product-base-info{
  @_width: 435px;
  @_height: 357px;

  float: left;

  width: @_width;
  min-height: @_height;
  margin-left: @div_margin;

  h1{
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;

    a{
      text-decoration: none;
      color: @title_color;

      &:hover{
        color: @main_color;
      }
    }
  }
  p{
    margin:0;
    padding-top: 8px;

    font-size:12px;
    color: @desc_color;

    span{
      padding: 5px;
    }
    a{
      padding: 5px;

      color: @font_strong_color;
      text-decoration: none;

      transition: all .2s ease-in-out;

      &:hover{
        color: @main_color;
      }
    }
    .price{
      color: @main_color;
      font-size: 14px;
      font-weight: 700;
    }
    .spec{
      color: @desc_strong_color;
    }
  }
  //产品信息
  .product-details{
    margin-top: 2 * @div_margin;

    p{
      color: @font_color;
    }

    span{
      font-size:12px;
      color: @desc_color;
    }
    .show-more{
      color: @main_color;
    }
  }
}

/*
 *产品评分汇总
 */
.product-rating-wrapped{
  @_width: 225px;
  @_height: 357px;

  float: left;
  position:relative;

  width: @_width;
  height: @_height;
  margin-left: @div_margin;
}
.product-rating{
  @_width: 210px;

  width: @_width;
  height: 100%;

  margin:auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -105px;/*使用负值margin将子块偏移自身宽度值的50%*/
    margin-top:-178px;

  .rating-brief{
    background-color: @bg_color;
  }

  .rating-title{
    @_height: 35px;

    width: 100%;
    height: @_height;

    line-height: @_height;
    text-align: center;
    color: @desc_strong_color;
    font-size: 14px;
    font-weight: 700;
  }
  .rating-count{
    @_width: 170px;
    @_height: 50px;

    width: @_width;
    height: @_height;
    margin: 0 auto;

    .left{
      float: left;

      width: @_height;
      height: @_height;

      line-height: @_height;
      color: @main_strong_color;
      font-size: 30px;
    }
    .right{
      float: left;

      width: @_width - @_height - 10px;
      height: @_height;
      margin-left: 10px;

      .right-down{
        a{
          display: inline-block;
          height: 18px;

          line-height: 18px;
          font-size: 12px;
          color: @link_color;
          text-decoration: none;

          &:hover{
            background-color: @link_color;
            color: @white_color;
          }
        }
      }
    }
  }
  .rating-more{
    padding: 5px 5px;
    margin-top: @div_margin;

    background-color: @bg_color;

    hr{
      border: dotted .5px @main_strong_color;
      .opacity_mixin(0.5);
    }
  }
  .rating-details{
    .horizontal_ul();
  }
  .rating-on-weight{
    @_height: 12px;

    height: @_height;
    margin: 10px auto;

    &>span{
      float: left;

      display: inline-block;
    }
    .rating-wrapped{
      height: @_height;
      line-height: @_height;

      input{
        vertical-align: middle;
      }
    }
    .rating-power-wrapped{
      @_width: 95px;

      max-width: @_width;
      height: @_height;

      line-height: @_height;
    }
    .rating-power{
      display: block;
      //width: 20%;
      height: 100%;

      background-color: @main_color;
    }
    .rating-per{
      @_width: 35px;

      width: @_width;
      height: @_height;

      line-height: @_height;

      text-align: center;
      color: @title_color;
      font-size: 12px;
    }
  }
  //按钮
  .product-ops{
    @btn_width: 110px;
    @btn_height: 30px;

    .btn-wrapped{
      width: 100%;
      height: 40px;

      text-align: center;
    }
    .reply-btn{
      display: inline-block;
      width: @btn_width;
      height: @btn_height;
      box-sizing: border-box;

      line-height: @btn_height;
      text-align: center;
      color: @white_color;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;

      border: solid .5px @border_color;
      box-shadow: 0 0 3px lighten(@border_color,10%);
      border-radius: 4px;
      background-color: @main_color;
    }
    .love-btn{
      .reply-btn();

      color: @desc_strong_color;
      .linear_gradient_to_bottom(lighten(@grey_bg_color,20%),darken(@grey_bg_color,5%));

      font{
        font-weight: 700;
        color: @main_color;
      }
    }
  }
}
/**
 * 使用心得块
 */
.comment-container{
  width: @global_width;
  margin: 0 auto;
  margin-top: @div_margin;
  box-sizing: border-box;

  clear: both;
}
.comment-containter-left{
  float: left;

  width: 750px;
  box-sizing: border-box;
}
.comment-containter-right{
  float: left;

  width: 240px;
  margin-left: 10px;
  box-sizing: border-box;

  .border_shadow();
}
/**
 * 使用心得分析
 */
.comment-analysis{
  width:100%;
  height: auto;

  .border_shadow();
}
/**
 * 使用心得分析标题
 */
.analysis-title{
  @_height: 35px;

  height: @_height;

  border-bottom: .5px solid lighten(@border_color,10%);
  background-color: @grey_bg_color;

  a{
    display: inline-block;

    line-height: @_height;
    text-decoration: none;
  }
  //产品名称
  .name{
    height: 100%;
    padding: 0 8px;

    font-size: 14px;
    font-weight: 700;
    color: @main_strong_color;
    text-align: left;

    border-left: 2px solid @main_color;

    transition: all .2s ease-in-out;

    &:hover{
      text-decoration: none;

      border-left: 5px solid @main_color;
    }
  }
  //使用心得标题
  .title{
    font-size: 12px;
    color: @font_color;
  }
}
/**
 * 具体分析项
 */
.analysis-contents{
  width: 100%;
  height: 125px;
}
.analysis-details{
  @_width: 660px;

  width: @_width;

  margin: 0 auto;
  margin-top: 25px;
  padding-left: -20px;
  padding-bottom: 10px;
}
.analysis-type{
  @_width: 200px;

  float: left;

  width: @_width;
  margin-left: 20px;

  .type-name{
    @_height: 25px;

    display: inline-block;
    width: @_width;
    height: @_height;
    box-sizing: border-box;
    padding-left: 15px;

    line-height: @_height;
    color: @main_strong_color;
    font-size: 14px;
    font-weight: 600;

    border-radius: 6px;
    background-color: lighten(@main_color,15%);
  }
  .type-details{
    .horizontal_ul();
  }
  .type-on-weight{
    @_height: 12px;

    height: @_height;
    margin: 5px auto;

    &>span{
      float: left;

      display: inline-block;

      line-height: @_height;
      font-size: 12px;
    }
    .type-item{
      @_width: 35px;

      width: @_width;
      height: @_height;
      margin-right: 5px;

      text-align: right;

      color: @font_color;
    }
    .item-power-wrapped{
      @_width: 125px;

      max-width: @_width;
      height: @_height;

      line-height: @_height;

      .item-power{
        display: block;
        height: 100%;

        background-color: @main_color;
      }
    }
    .item-per{
      @_width: 35px;

      width: @_width;
      height: @_height;

      color: @title_color;
    }
  }
}
/**
 * 用户使用心得列表
 */
.comment-contents:extend(.comment-analysis){
  margin-top: @div_margin;
}
.comment-list-title:extend(.analysis-title all){}
.comment-search-wrapped{

  @_height: 30px;

  width: 100%;
  padding-left: 9px;
  margin-top: @div_margin / 2;

  background-color: @grey_bg_color;

  &>span{
    display: inline-block;

    line-height: @_height;
    vertical-align: middle;
  }

  .search-label{

    margin: 0 8px;

    font-size: 12px;
    color: @desc_strong_color;
  }
  .search-params{
    color: @desc_color;
    font-size: 13px;

    select{
      width: 115px;
      height: 21px;
      margin: 0 3px;
    }
  }
  .search-btn{

    display: inline-block;
    padding: 2px 8px;
    margin-left: 5px;

    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: @white_color;
    font-weight: 600;

    border-radius: 2px;
    border: solid .5px @border_color;
    box-shadow: 0 0 1px lighten(@border_color,10%);
    background-color: @main_color;
  }
}
/**
 * 使用心得列表块
 */
.comment-list{

  .horizontal_ul();

  width: 100%;
  margin-top: 10px;

  li{
    height: 185px;
    padding-left: 5px;
  }
}
/*
 *使用心得条目
 */
.comment-item{
  width: 100%;

  .left{
    float: left;
  }
  .right{
    float: left;
    position: relative;
  }
}
/*
 *使用心得用户头像
 */
.portrait-wrapped{
  @_width: 100px;
  @child_width: 100px;
  @child_height: 21px;

  width: 145px;

  img{
    width: @_width;

    border-radius: 2px;
    border: solid 2px @border_color;
  }
  p{
    .no_wrap_text();

    width: @child_width;
    height: @child_height;
    margin: 0;
    padding: 0;

    line-height: @child_height;
    text-align: center;
    font-size: 12px;
    color: @font_color;
  }
  font{
    color: @main_color;
  }
  .love-her-btn{
    display: inline-block;
    width: 52px;
    height: @child_height;
    margin-top: 2px;

    line-height:@child_height;
    text-align: center;
    text-decoration: none;
    color: @white_color;
    font-weight: 600;

    border-radius: 2px;
    border: solid .5px @border_color;
    background-color: @main_color;
  }
}
/*
 *直角三角形
 */
.triangle-pointer{
  position: absolute;
  z-index: 1;

  left: -25px;
  top: 10px;

  .right-angled-triangle-left(25px,lighten(@main_color,15%));

  .background{
    position: absolute;
    z-index: 2;

    top: -24px;
    left: -23px;

    .right-angled-triangle-left(23px,@white_color);
  }
}
/*
 *评论详情
 */
.comment-detail{
  @_width: 600px;

  width: @_width;

  .border_shadow();
  padding: 0 5px;

  //评论标题
  .comment-title{
    width: 100%;
    margin: 5px auto;

    color: @font_color;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;

    transition: all .2s ease-in-out;

    &:hover{
      color: @main_color;
    }
  }
  //评论用户
  .comment-user{
    margin: 8px auto;

    font-size: 12px;
    color: @desc_strong_color;

    a{
      text-decoration: none;
      color: @main_color;
    }
  }
  //使用心得详情
  .comment-comment{
    height: 55px;

    font-size: 13px;
    color: @font_color;
  }
  //评论时间
  .comment-time{
    display: block;
    width: 100%;
    padding-right: 10px;

    text-align: right;
    font-size: 12px;
    color: @desc_color;
  }
  hr{
    margin: 0;
    margin: 3px 0;

    border: dashed .5px @border_color;
  }
  //评论操作
  .comment-ops{
    text-align: right;
    font-size: 13px;

    a{
      padding: 0 4px;

      text-decoration: none;
      color: @main_color;
    }
  }
}
/**
 * 添加点评
 */
.comment-add-container{
  margin-top: @div_margin;

  .label{
    @_height: 38px;

    width: 100%;
    height: @_height;

    line-height: @_height;
    font-size: 20px;
    font-weight: 500;
    color: @font_color;
  }
  hr{
    margin: 0;
    margin-bottom: @div_margin;

    border: solid 1px @main_color;
  }
  .title-input{
    @_height: 35px;

    height: @_height;
    width: 100%;
    margin-bottom: @div_margin / 2 ;

    .comment-title-label{
      line-height: @_height;
      font-size: 14px;
      color: @font_color;
    }
    .comment-title{
      width: 400px;

      line-height: @_height - 5px;

      border: solid .5px lighten(@main_color,15%);
    }
  }
}
