@import "mixin_style.less";
@import "global_style.less";

/*
 *内容主体外层
 */
.main_div();
/*
 *当前位置
 */
.current-pos {
  .current-position();
}
/**
 * 主-左
 */
.main-left{
  @_width: 740px;

  float: left;

  width: @_width;
  box-sizing: border-box;
  margin-top: 2 * @div_margin;
}
/**
 * 主-右
 */
.main-right{
  @_width: 240px;

  float: left;

  width: @_width;
  margin-left: 20px;
  box-sizing: border-box;
  margin-top: 2 * @div_margin;
}
/*
 * 产品属性过滤标签
 */
.property-filter-div{
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  background-color: @bg_color;

  .clear-float{
    clear: both;
  }
  h2{
    padding-top: 14px;
    padding-bottom: 14px;

    color: @title_color;
    font-size: 18px;
    font-weight: 500;
  }
  .filter-list{
    .horizontal_ul();

    font-size: 12px;
    line-height: 22px;

    li{
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      zoom: 1;
    }
    .has-border{
      border-bottom: dashed 1px @border_color;
    }
  }
  .property-label{
    @_width: 40px;
    @_height: 24px;

    float: left;

    width: @_width;
    height: @_height;

    line-height: @_height;
    color: @title_color;
  }
  .property-items{
    @_width: 850px;
    @_height: 24px;

    float: left;

    width: @_width;
    height: @_height;

    overflow: hidden;

    a{
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 8px;
      padding-right: 8px;
      margin-right: 5px;

      color: @desc_strong_color;
      text-decoration: none;

      &:hover{
        color: @white_color;

        background-color: @main_color;
      }
    }
  }
  .property-more{
    @_width: 70px;
    @_height: 24px;

    float: left;

    width: @_width;
    height: @_height;

    a{
      text-decoration: none;

      &:before{
        content: "∨";

        font-size: 13px;
        padding-left: 4px;
        padding-right: 8px;
      }
    }
    .pointer-top{
      &:before{
        content: "∧";
      }
    }
  }
}
/**
 * 排序筛选
 */
.order-navi{
  .horizontal_ul();

  @_height: 35px;

  width: 100%;
  height: @_height;

  font-size: 0;

  border-bottom: solid 2px lighten(@border_color,8%);

  li{
    display: inline-block;

    .current-order{
      color: @main_color;

      border-bottom: solid 3px @main_color;

      &:before{
        content: "";

        position: absolute;
        left: 41px;
        bottom: 0;

        .triangle(top,6px,@main_color);
      }
    }
    a{
      @_width: 95px;

      position: relative;

      display: inline-block;
      width: @_width;
      height: @_height;

      color: @font_color;
      font-size: 14px;
      text-decoration: none;
      text-align: center;

      transition: color .2s ease-in-out;

      &:hover{
        color: @main_color;

        border-bottom: solid 3px @main_color;

        &:before{
          content: "";

          position: absolute;
          left: 41px;
          bottom: 0;

          .triangle(top,6px,@main_color);
        }
      }
    }
  }
}
/**
 * 产品列表
 */
.product-list{
  .horizontal_ul();

  li{
    @_height: 180px;

    height: @_height;
    margin: 8px 0;
    padding-bottom: 5px;

    border-bottom: solid .5px lighten(@border_color,10%);
  }
}
/**
 * [产品列表项]
 */
.product-item{
  width: 100%;

  .left{
    @_width: 220px;

    float: left;

    width: @_width;
    height: 100%;
  }
  .right{
    @_width: 505px;

    float: left;

    width: @_width;
    height: 100%;
    margin-left: 15px;

    p{
      margin: 5px 0;
    }
  }
  //产品图片
  .product-img-wrapped{
    position: relative;

    width: 100%;
    height: 100%;

    img{
      @_width: 120px;

      width: @_width;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-color: red;
    }
  }
  //产品名称
  .product-name{
    color: @font_strong_color;
    font-size: 16px;
    text-decoration: none;

    transition: all .2s ease-in-out;

    &:hover{
      color: @main_color;
    }
  }
  //产品综合评分
  .rating-p{
    .rating-label{
      font-size: 12px;
      color: @font_strong_color;
    }
    .rating-wrapped{
      display: inline-block;
      padding-left: 10px;
    }
  }
  .smaller-p{
    font-size: 12px;
    .p-label{
      color: @desc_strong_color;
    }
    .p-value{
      margin: 0 5px;
      color: @main_color;
    }
  }
  //产品描述
  .product-desc{
    padding: 5px;

    line-height: 20px;
    font-size: 12px;
    color: @font_strong_color;

    background-color: @grey_bg_strong_color;

    a{
      color: @desc_strong_color;
      text-decoration: none;
    }
  }
}
/**
 * [更多筛选条件]
 */
.comment-property-filter{
  width: 100%;
}
/**
 * [心得label]
 */
.comment-filter-label{
  position: relative;
  margin-top: 15px;

  span{
    @_height: 35px;

    position: relative;
    z-index: 2;
    left: 80px;

    display: inline-block;
    width: 80px;
    height: @_height;

    line-height: @_height;
    text-align: center;

    background-color: @white_color;
  }
  &:before{
    content: "";

    position: absolute;
    top: 50%;
    z-index: 1;

    width: 100%;
    height: 1.5px;

    background-color: lighten(@border_color,8%);
  }
}
/**
 * [具体筛选项]
 */
.comment-filter-items{
  .horizontal_ul();

  width: 100%;
  .title{
    font-size: 14px;
    color: @font_color;
    text-align: center;
  }
  .item-list{
    display: inline-block;

    dd{
      float: left;

      width: 50%;
    }
    input[type='checkbox']{
      margin-right: 5px;

      vertical-align:  text-bottom;
    }
    a{
      padding: 3px;

      vertical-align: middle;
      text-decoration: none;
      color: @desc_color;

      &:hover{
        color: @white_color;

        background-color: @main_color;
      }
    }
  }
}
/**
 * 筛选按钮
 */
.filter-btns{
  margin-top: 8px;

  text-align: center;

  .filter-confirm-btn{
    @_width: 120px;
    @_height: 33px;

    display: inline-block;
    width: @_width;
    height: @_height;

    line-height: @_height;
    text-decoration: none;
    color: @white_color;

    background-color: @font_strong_color;

    &:hover{
      background-color: @main_color;
    }
  }
}
