@import "mixin_style.less";
@import "global_style.less";

/*
 *内容主体外层
 */
.main_div();
/*
 *当前位置
 */
.current-pos {
  .current-position();
}
/**
 *  快速获取按钮
 */
.quick-get-info{
  @_height: 25px;

  height: @_height;
  margin-top: @div_margin;

  font-size: 12px;

  .pointer{
    color: @main_strong_color;
    font-size: 14px;
    font-weight: bolder;
  }
  input{
    @_height: 24px;

    height: @_height;
    padding-left: 5px;
    margin-right: 8px;

    vertical-align: middle;

    .purple_input_style();
  }
  .get-btn{
    @_height: 20px;

    display: inline-block;
    width: 35px;
    height: @_height;

    line-height: @_height;
    vertical-align: middle;
    color: @white_color;
    font-size: 12px;
    text-decoration: none;
    text-align: center;

    background-color: @main_color;
    border-radius: 2px;
  }
}
/**
 * 添加新产品
 */
.product-add-container{
  width: @global_width;

  margin-top: 10px;

  border-radius: 1px;
  box-shadow: 0 0 2px lighten(@main_color,8%);
  background-color: @white_color;
}
/**
 * 添加新产品标题
 */
.add-title-label{
  @_height: 35px;

  width: 100%;
  height: @_height;

  border-bottom: .5px solid lighten(@border_color,10%);
  background-color: @grey_bg_color;

  a{
    display: inline-block;
    height: 100%;
    padding: 0 8px;

    line-height: @_height;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: @font_color;
    text-align: left;

    border-left: 2px solid @main_color;
  }
}
/**
 * 添加新产品输入表单
 */
.product-form{
  width: @global_width;
}
/**
 * 表单项
 */
.input-list{
  .horizontal_ul();

  li{
    @_height: 46px;

    min-height: @_height;
    border-bottom: dotted .5px @border_color;
  }
  .input-label{
    @_width: 150px;
    @_height: 45px;

    display: inline-block;
    width: @_width;
    height: @_height;
    margin-right: 10px;

    line-height: @_height;
    text-align:right;
    font-size: 14px;
    color: @font_color;

    background-color: @bg_color;
  }
  .vertical-top{
    @_height: 180px;
    height: @_height;
    .input-label{
      height: 100% !important;
      vertical-align: top;
    }
    textarea{
      margin-top: 6px;
      resize: none;
      .purple_input_style();
    }
  }
  input[type='text'],select{
    @_height: 27px;

    height: @_height;
    padding-left: 5px;
    margin-right: 8px;

    vertical-align: middle;

    .purple_input_style();
  }
  input[type='file']{
    display: inline-block;
  }
  .lg-input{
    @_width: 300px;

    width: @_width;
  }
  .md-input{
    @_width: 180px;

    width: @_width;
  }
  .sm-input{
    @_width: 120px;

    width: @_width;
  }
  .xs-input{
    @_width: 70px;

    width: @_width;
  }
  .input-tips{
    padding-left: 15px;

    color: @main_strong_color;
    font-size: 12px;
    vertical-align: middle;
  }
}
/**
 * 添加按钮
 */
.add-product-op{
  width: @global_width;
  box-sizing: border-box;
  margin-top: @div_margin;
  padding-right: 15px;
  padding-bottom: 10px;

  text-align: right;

  .add-confirm{
    @_width: 105px;
    @_height: 30px;

    display: inline-block;
    width: @_width;
    height: @_height;
    box-sizing: border-box;
    color: @white_color;
    background-color: @main_color;

    line-height: @_height;
    text-decoration: none;
    text-align: center;

    &:hover{
      background-color: @main_strong_color;
    }
  }
}
