@import "mixin_style.less";
@import "global_style.less";

/*
 *内容主体外层
 */
.main_div();
/*
 *当前位置
 */
.current-pos {
  .current-position();

  margin-bottom: @div_margin;
}
/**
 * 主左：导航栏
 */
.main-left{
  @_width: 160px;

  float: left;

  width: @_width;
  box-sizing: border-box;
}
/**
 * 主右：内容
 */
.main-right{
  @_width: 820px;

  float: left;

  width: @_width;
  margin-left: 20px;
  box-sizing: border-box;
}
/**
 * 大标题:个人中心
 */
.navi-label{
  @_height: 31px;

  display: inline-block;
  width: 100%;
  height: @_height;
  box-sizing: border-box;
  padding-left: 8px;

  line-height: @_height;
  color: @white_color;
  font-size: 14px;
  font-weight: 550;

  border-radius: 2px;
  box-shadow: 0 0 1px lighten(@main_color,8%);
  .linear_gradient_to_top(@main_color,@main_strong_color);
}
/**
 * 导航栏
 */
.navi-list{
  width: 100%;
  box-sizing: border-box;

  box-shadow: 0 0 1px lighten(@border_color,10%);
  border: solid .5px @border_color;
}
/**
 * 导航项
 */
.navi-item{
  width: 100%;

  .title{
    @_height: 29px;

    display: inline-block;
    width: 100%;
    height: @_height;
    box-sizing: border-box;
    padding-left: 15px;

    line-height: @_height;
    color: @font_strong_color;
    font-size: 14px;
    font-weight: bold;

    box-shadow: 0 0 1px lighten(@border_color,10%);
    background-color: @grey_bg_strong_color;

    .to-down{
      float: right;

      display: inline-block;
      padding: 0 5px;

      line-height: @_height;
      color: @desc_strong_color;
      font-size: 13px;
      font-weight: 500;

      box-shadow: 0 0 1px lighten(@border_color,10%);
    }
  }
  .navi-item-child{
    @_height: 29px;

    padding-left: 20px;

    a{
      line-height: @_height;
      text-decoration: none;
      color: @font_color;
      font-size: 13px;

      &:hover{
        color: @main_strong_color;
        text-decoration: underline;
      }
    }
  }
}
/**
 * 基本信息
 */
.base-info{
  margin-top: @div_margin;

  .title{
    color: @font_color;
    font-size: 17px;
    font-weight: 550;
  }
  .line{
    border: solid 1px @main_color;
    background-color: @main_color;
  }
}
/**
 * 用户信息项
 */
.info-detail{
  width: 100%;

  .info-item{
    @_height: 36px;

    min-height: @_height;
    margin: 10px auto;

    font-size: 13px;

    .item-label{
      @_width: 60px;

      display: inline-block;
      width: @_width;
      margin-right: 10px;

      line-height: @_height;
      text-align: right;
      vertical-align: middle;
      color: @desc_strong_color;
    }

    .item-val{
      font-size: 13px;
      color: @desc_strong_color;
    }

    //输入框
    input,select,textarea{
      padding-left: 8px;
      color: @desc_strong_color;
      .purple_input_style();
    }

    textarea{
      padding: 10px 10px;
    }

    //下拉框
    select{
      @_width: 80px;

      width: @_width;
      height: @_height - 7px;
      margin-right: 10px;
    }

    //昵称
    .nick-name{
      @_width: 170px;

      width: @_width;
      height: @_height - 7px;
    }

    .label-top{
      vertical-align: top;
    }
    //头像
    .portrait-wrapped{
      @_width: 110px;

      position: relative;

      display: inline-block;
      width: @_width;

      border: solid 2px lighten(@border_color,10%);;

      img{
        width: 100%;
      }
      .change-protrait{
        @_height: 26px;

        position: absolute;
        left: 0;
        bottom: 0;

        display: none;
        width: 100%;
        height: @_height;

        text-align: center;

        background-color: @dark_color;
        .opacity_mixin(0.5);

        a{
          line-height: @_height;
          text-decoration: none;
          font-size: 12px;
          color: @white_color;

          &:hover{
            color: @main_color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
/**
 * 更新按钮
 */
 /**
  * 添加按钮
  */
 .info-ops{
   width: 100%;
   box-sizing: border-box;
   margin-top: @div_margin;
   padding-right: 15px;
   padding-bottom: 10px;

   text-align: right;

   .update-confirm{
     @_width: 105px;
     @_height: 30px;

     display: inline-block;
     width: @_width;
     height: @_height;
     box-sizing: border-box;
     color: @white_color;
     background-color: @main_color;

     line-height: @_height;
     text-decoration: none;
     text-align: center;

     &:hover{
       background-color: @main_strong_color;
     }
   }
 }
