<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.dao.mapper.CommentReplyMapper">
  <resultMap id="BaseResultMap" type="CommentReply">
    <id column="bReplyId" jdbcType="BIGINT" property="replyId" />
    <result column="bArticleId" jdbcType="BIGINT" property="articleId" />
    <result column="bParentCommentId" jdbcType="BIGINT" property="parentCommentId" />
    <result column="bReplyUserId" jdbcType="BIGINT" property="userId" />
    <result column="vReplyDetail" jdbcType="VARCHAR" property="replyDetail" />
    <result column="dReplyTime" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="iReportCount" jdbcType="INTEGER" property="reportCount" />
  </resultMap>
  <resultMap type="CommentReply" id="CommentReplyResult" extends="BaseResultMap">
  	<association property="userInfo" column="bReplyUserId" 
  		javaType="UserInfo" resultMap="gdou.laiminghai.ime.dao.mapper.UserInfoMapper.BaseResultMap"/>
  </resultMap>
  <sql id="CommentReplyColumns">
  	bReplyId, bArticleId, bParentCommentId, cr.bUserId bReplyUserId, vReplyDetail, dReplyTime, 
    iReportCount
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from commentreply
    where bReplyId = #{replyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="bReplyId" keyProperty="replyId" parameterType="CommentReply" useGeneratedKeys="true">
    insert into commentreply (bArticleId, bParentCommentId, bUserId, 
      vReplyDetail, dReplyTime, iReportCount
      )
    values (#{articleId,jdbcType=BIGINT}, #{parentCommentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{replyDetail,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, #{reportCount,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="CommentReply">
    update commentreply
    set bArticleId = #{articleId,jdbcType=BIGINT},
      bParentCommentId = #{parentCommentId,jdbcType=BIGINT},
      bUserId = #{userId,jdbcType=BIGINT},
      vReplyDetail = #{replyDetail,jdbcType=VARCHAR},
      dReplyTime = #{replyTime,jdbcType=TIMESTAMP},
      iReportCount = #{reportCount,jdbcType=INTEGER}
    where bReplyId = #{replyId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="CommentReplyColumns"/>
    from commentreply cr
    where bReplyId = #{replyId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="CommentReplyColumns"/>
    from commentreply cr
  </select>
  <sql id="selectByCondition_Condition">
  	<where>
  		<if test="commentId != null">
  			cr.bArticleId = #{commentId}
  		</if>
  	</where>
  </sql>
  <!-- 条件查询心得回复 -->
  <select id="selectByCondition" resultMap="CommentReplyResult" 
  	parameterType="map">
  	select <include refid="CommentReplyColumns"/>,
  		<include refid="gdou.laiminghai.ime.dao.mapper.UserInfoMapper.UserInfoColumns"/>
  	from commentreply cr left join userinfo u on cr.bUserId = u.bUserId  
  	<include refid="selectByCondition_Condition"/> order by cr.dReplyTime desc
 </select>
</mapper>