<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.mapper.ProductEffectMapper">
  <resultMap id="BaseResultMap" type="ProductEffect">
    <id column="iEffectId" jdbcType="INTEGER" property="effectId" />
    <result column="vEffectName" jdbcType="VARCHAR" property="effectName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from producteffect
    where iEffectId = #{effectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="iEffectId" keyProperty="effectId" parameterType="ProductEffect" useGeneratedKeys="true">
    insert into producteffect (vEffectName)
    values (#{effectName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ProductEffect">
    update producteffect
    set vEffectName = #{effectName,jdbcType=VARCHAR}
    where iEffectId = #{effectId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select iEffectId, vEffectName
    from producteffect
    where iEffectId = #{effectId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select iEffectId, vEffectName
    from producteffect
  </select>
</mapper>