<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.dao.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="ProductInfo">
    <id column="bProductId" jdbcType="BIGINT" property="productId" />
    <result column="vProductName" jdbcType="VARCHAR" property="productName" />
    <result column="iBrand" jdbcType="INTEGER" property="brand" />
    <result column="iClassify" jdbcType="INTEGER" property="classify" />
    <result column="iProperty" jdbcType="INTEGER" property="property" />
    <result column="iEffect" jdbcType="INTEGER" property="effect" />
    <result column="vSkinTexture" jdbcType="VARCHAR" property="skinTexture" />
    <result column="vSpec" jdbcType="VARCHAR" property="spec" />
    <result column="dComeInDate" jdbcType="DATE" property="comeInDate" />
    <result column="fReferencePrice" jdbcType="REAL" property="referencePrice" />
    <result column="fWorthCount" jdbcType="REAL" property="worthCount" />
    <result column="bCommentCount" jdbcType="BIGINT" property="commentCount" />
    <result column="bBrowserCount" jdbcType="BIGINT" property="browserCount" />
    <result column="bFollowCount" jdbcType="BIGINT" property="followCount" />
    <result column="tDesc" jdbcType="LONGVARCHAR" property="desc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from productinfo
    where bProductId = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="bProductId" keyProperty="productId" parameterType="ProductInfo" useGeneratedKeys="true">
    insert into productinfo (vProductName, iBrand, iClassify, 
      iProperty, iEffect, vSkinTexture, 
      vSpec, dComeInDate, fReferencePrice, 
      fWorthCount, bCommentCount, bBrowserCount, 
      bFollowCount, tDesc)
    values (#{productName,jdbcType=VARCHAR}, #{brand,jdbcType=INTEGER}, #{classify,jdbcType=INTEGER}, 
      #{property,jdbcType=INTEGER}, #{effect,jdbcType=INTEGER}, #{skinTexture,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{comeInDate,jdbcType=DATE}, #{referencePrice,jdbcType=REAL}, 
      #{worthCount,jdbcType=REAL}, #{commentCount,jdbcType=BIGINT}, #{browserCount,jdbcType=BIGINT}, 
      #{followCount,jdbcType=BIGINT}, #{desc,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ProductInfo">
    update productinfo
    set vProductName = #{productName,jdbcType=VARCHAR},
      iBrand = #{brand,jdbcType=INTEGER},
      iClassify = #{classify,jdbcType=INTEGER},
      iProperty = #{property,jdbcType=INTEGER},
      iEffect = #{effect,jdbcType=INTEGER},
      vSkinTexture = #{skinTexture,jdbcType=VARCHAR},
      vSpec = #{spec,jdbcType=VARCHAR},
      dComeInDate = #{comeInDate,jdbcType=DATE},
      fReferencePrice = #{referencePrice,jdbcType=REAL},
      fWorthCount = #{worthCount,jdbcType=REAL},
      bCommentCount = #{commentCount,jdbcType=BIGINT},
      bBrowserCount = #{browserCount,jdbcType=BIGINT},
      bFollowCount = #{followCount,jdbcType=BIGINT},
      tDesc = #{desc,jdbcType=LONGVARCHAR}
    where bProductId = #{productId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select bProductId, vProductName, iBrand, iClassify, iProperty, iEffect, vSkinTexture, 
    vSpec, dComeInDate, fReferencePrice, fWorthCount, bCommentCount, bBrowserCount, bFollowCount, 
    tDesc
    from productinfo
    where bProductId = #{productId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select bProductId, vProductName, iBrand, iClassify, iProperty, iEffect, vSkinTexture, 
    vSpec, dComeInDate, fReferencePrice, fWorthCount, bCommentCount, bBrowserCount, bFollowCount, 
    tDesc
    from productinfo
  </select>
</mapper>