<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.mapper.ProductPropertyMapper">
  <resultMap id="BaseResultMap" type="ProductProperty">
    <id column="iPropertyId" jdbcType="INTEGER" property="propertyId" />
    <result column="vPropertyName" jdbcType="VARCHAR" property="propertyName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from productproperty
    where iPropertyId = #{propertyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="iPropertyId" keyProperty="propertyId" parameterType="ProductProperty" useGeneratedKeys="true">
    insert into productproperty (vPropertyName)
    values (#{propertyName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ProductProperty">
    update productproperty
    set vPropertyName = #{propertyName,jdbcType=VARCHAR}
    where iPropertyId = #{propertyId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select iPropertyId, vPropertyName
    from productproperty
    where iPropertyId = #{propertyId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select iPropertyId, vPropertyName
    from productproperty
  </select>
</mapper>