<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.dao.mapper.UserUpRecordMapper">
  <resultMap id="BaseResultMap" type="UserUpRecord">
    <id column="bUpRecordId" jdbcType="BIGINT" property="upRecordId" />
    <result column="bCommentId" jdbcType="BIGINT" property="commentId" />
    <result column="bUserId" jdbcType="BIGINT" property="userId" />
    <result column="dUpTime" jdbcType="TIMESTAMP" property="upTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from useruprecord
    where bUpRecordId = #{upRecordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="UserUpRecord">
    insert into useruprecord (bUpRecordId, bCommentId, bUserId, 
      dUpTime)
    values (#{upRecordId,jdbcType=BIGINT}, #{commentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{upTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="UserUpRecord">
    update useruprecord
    set bCommentId = #{commentId,jdbcType=BIGINT},
      bUserId = #{userId,jdbcType=BIGINT},
      dUpTime = #{upTime,jdbcType=TIMESTAMP}
    where bUpRecordId = #{upRecordId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select bUpRecordId, bCommentId, bUserId, dUpTime
    from useruprecord
    where bUpRecordId = #{upRecordId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select bUpRecordId, bCommentId, bUserId, dUpTime
    from useruprecord
  </select>
</mapper>