<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdou.laiminghai.ime.dao.mapper.UserFollowProductMapper">
  <resultMap id="BaseResultMap" type="UserFollowProduct">
    <id column="bUserProductId" jdbcType="BIGINT" property="userProductId" />
    <result column="bFollowedProductId" jdbcType="BIGINT" property="productId" />
    <result column="bUserId" jdbcType="BIGINT" property="userId" />
    <result column="dFollowTime" jdbcType="TIMESTAMP" property="followTime" />
  </resultMap>
  <resultMap type="UserFollowProduct" id="UserFollowProductResult" extends="BaseResultMap">
  	<association property="productInfo" column="bFollowedProductId" 
  		javaType="UserFollowProduct" resultMap="gdou.laiminghai.ime.dao.mapper.ProductInfoMapper.BaseResultMap"/>
  </resultMap>
  <sql id="UserFollowProductColumns">
  	bUserProductId, up.bProductId bFollowedProductId, bUserId, dFollowTime
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userfollowproduct
    where bUserProductId = #{userProductId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="bUserProductId" keyProperty="userProductId" parameterType="UserFollowProduct" useGeneratedKeys="true">
    insert into userfollowproduct (bProductId, bUserId, dFollowTime
      )
    values (#{productId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{followTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="UserFollowProduct">
    update userfollowproduct
    set bProductId = #{productId,jdbcType=BIGINT},
      bUserId = #{userId,jdbcType=BIGINT},
      dFollowTime = #{followTime,jdbcType=TIMESTAMP}
    where bUserProductId = #{userProductId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="UserFollowProductColumns"/>
    from userfollowproduct up
    where bUserProductId = #{userProductId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="UserFollowProductColumns"/>
    from userfollowproduct up
  </select>
  <sql id="selectByCondition_Condition">
  	<where>
  		<if test="userId != null">
  			and up.bUserId = #{userId}
  		</if>
  		<if test="productId != null">
  			and up.bProductId = #{productId}
  		</if>
  	</where>
  </sql>
  <!-- 条件查询用户产品关注 -->
  <select id="selectByCondition" parameterType="map" 
  	resultMap="BaseResultMap" >
  	select <include refid="UserFollowProductColumns"/>
  	from userfollowproduct up
  	<include refid="selectByCondition_Condition"/>
  </select>
  <!-- 查询关注的产品 -->
  <select id="findFollowedProducts" parameterType="java.lang.Long" 
  	resultMap="UserFollowProductResult">
  	select <include refid="UserFollowProductColumns"/>,
  			<include refid="gdou.laiminghai.ime.dao.mapper.ProductInfoMapper.ProductInfoColumns"/> 
  	from userfollowproduct up inner join productinfo p on up.bProductId = p.bProductId 
  	where up.bUserId = #{_parameter}
  </select>
</mapper>