<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- redis工具 -->
	<bean id="rankTask" class="gdou.laiminghai.ime.common.task.RankTask" />

	<!-- 排行榜更新定时任务 -->
	<bean id="rankUpdate"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rankTask" />
		<property name="targetMethod" value="updateBrowserCountRank" />
		<!-- 如果前一个任务还没有结束第二个任务不会启动 false -->  
        <property name="concurrent" value="false" />  
	</bean>
	<!-- 触发器, 使用定时触发 -->
	<bean id="rankUpdateTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="rankUpdate" />
		<property name="cronExpression" value="0 0 2 * * ?" /><!-- 每天凌晨两点调度一次 -->
	</bean>
	<!-- quartz实例化5秒后仅执行一次 -->
     <bean id="rankUpdateOnceTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="rankUpdate" />
        <property name="startDelay" value="5000" /> <!-- 启动延迟  单位/毫秒-->
        <property name="repeatInterval" value="1000" /> <!-- 多久执行一次 单位/毫秒-->
        <property name="repeatCount" value="0" />  <!--  重复次数  -->
    </bean>
	<!-- 结束  -->
	
	<!-- 浏览记录同步任务 -->
	<bean id="browserRecordSync"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="rankTask" />
		<property name="targetMethod" value="syncBrowserRecord" />
		<!-- 如果前一个任务还没有结束第二个任务不会启动 false -->  
        <property name="concurrent" value="false" />  
	</bean>
	<!-- 触发器, 使用定时触发 -->
	<bean id="browserRecordSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="browserRecordSync" />
		<property name="cronExpression" value="0 30 2 * * ?" /><!-- 每天凌晨两点半调度一次 -->
	</bean>
	<!-- 结束 -->
	
	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="rankUpdateTrigger" />
				<ref bean="rankUpdateOnceTrigger"/>
				<ref bean="browserRecordSyncTrigger" />
			</list>
		</property>
	</bean>
</beans>