body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
body {
  font-family: "微软雅黑";
}
.load-more-wrapped {
  width: 100%;
  height: 24px;
  text-align: center;
  font-size: 13px;
}
.load-more-wrapped .load-more-btn {
  display: inline-block;
  width: 62px;
  height: 24px;
  padding: 8px auto;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 550;
  text-decoration: none;
  background-color: #cccccc;
  border-radius: 2px;
}
.load-more-wrapped .load-more-btn:hover {
  background-color: #cc99cc;
}
.load-more-wrapped .no-more-load {
  line-height: 24px;
  color: #999999;
}
/*
 *顶部工具条
 */
body {
  margin: 0;
  background-color: #fcfcfc;
}
/*
 *信息索引
 */
.index-wrapped {
  width: 1000px;
  height: 271px;
  margin: 0 auto;
  margin-top: 13px;
  font-size: 14px;
}
/*
 *化妆品分类导航
 */
.category-wrapped {
  float: left;
  display: inline-block;
  width: 150px;
  box-sizing: border-box;
}
/*
 *title:全部分类
 */
.category-title {
  width: 100%;
  height: 31px;
  box-sizing: border-box;
  padding-left: 10px;
  color: #ffffff;
  text-align: left;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #cc99cc;
  border-radius: 1px;
  box-shadow: 0 0 2px #ddbbdd;
  background-color: #cc99cc;
}
/*
 *contents:化妆品分类
 */
.category-index {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
  border-radius: 2px;
}
.category-index > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
}
.category-index .current-category {
  z-index: 4;
  border: 0.5px solid #cc99cc;
  border-right: none;
  background-color: #ffffff;
}
.category-index .current-category::after {
  content: "";
}
.category-index > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-left: 5px;
  line-height: 30px;
  text-decoration: none;
  text-align: left;
  color: #404040;
  border: .5px solid transparent;
  border-bottom: 0.5px solid #eeddee;
}
.category-index > li > a:hover {
  z-index: 4;
  border: 0.5px solid #cc99cc;
  border-right: none;
  background-color: #ffffff;
}
.category-index > li > a:hover::after {
  content: "";
}
.category-index > li > a:after {
  content: ">";
  position: absolute;
  right: 0;
  color: #cc99cc;
}
/*
 *化妆品子分类
 */
.sub-category {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 139px;
  display: none;
  width: 280px;
  font-size: 0;
  background-color: #ffffff;
  border: 0.5px solid #cc99cc;
  box-shadow: 0 0 10px #cc99cc;
}
.sub-category li {
  position: relative;
  display: inline-block;
  width: 140px;
}
.sub-category li:before {
  content: "·";
  position: absolute;
  left: 3px;
  top: 4px;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
.sub-category a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  padding-left: 12px;
  line-height: 30px;
  color: #333333;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}
.sub-category a:hover {
  text-decoration: underline;
  color: #0092d2;
}
/*
 *标签索引
 */
.label-index {
  float: left;
  display: inline-block;
  width: 585px;
  height: 271px;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 5px;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
}
/*
 *title:热门标签
 */
.label-title {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  color: #be7ebe;
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  font-weight: bolder;
}
/*
 *contents:标签条目
 */
.label-items {
  height: 246px;
  font-size: 14px;
  overflow: hidden;
}
.label-items .title {
  width: 13%;
  color: #1a1a1a;
}
.label-items tr {
  width: 100%;
}
.label-items td {
  text-align: left;
  vertical-align: top;
}
.label-items a {
  display: inline-block;
  padding: 0 5px;
  color: #0092d2;
  text-decoration: none;
}
.label-items a:hover {
  text-decoration: underline;
}
/*
 *用户索引
 */
.user-center {
  float: left;
  width: 240px;
  height: 271px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
}
.user-info-container {
  height: 145px;
}
/*
 *头像块
 */
.portrait-wrapped {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
.portrait-wrapped a {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  vertical-align: middle;
}
.portrait-wrapped img {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 27.5px;
}
/*
 *用户名
 */
.username-wrapped {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #1a1a1a;
  text-align: center;
}
/*
 *用户积分
 */
.user-integration {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #000000;
  text-align: center;
}
.user-integration a {
  color: #0092d2;
  text-decoration: none;
}
.user-integration a:hover {
  text-decoration: underline;
}
/*
 *用户操作
 */
.user-ops {
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0;
}
.user-ops a {
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #be7ebe;
  text-align: center;
  text-decoration: none;
}
/*
 *公告消息
 */
.notice-wrapped {
  width: 88%;
  height: 126px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 4px;
  overflow: hidden;
}
.notice-wrapped .notice-title {
  width: 100%;
  height: 22px;
  box-sizing: border-box;
  line-height: 22px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border: 0.5px solid #e6cce6;
  border-left: none;
  border-right: none;
}
.notice-wrapped .notice-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notice-wrapped .notice-list li {
  width: 100%;
  height: 25px;
}
.notice-wrapped .notice-list a {
  display: inline-block;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 25px;
  color: #1a1a1a;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.notice-wrapped .notice-list a:hover {
  color: #0092d2;
  text-decoration: underline;
}
/*
 *内容
 */
.main-contents {
  width: 1000px;
  margin: 0 auto;
  margin-top: 13px;
  box-sizing: border-box;
  clear: both;
}
.main-left {
  float: left;
  width: 750px;
  box-sizing: border-box;
}
.main-right {
  float: left;
  width: 240px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
}
/*
 *猜你喜欢
 */
.guess-you-need {
  width: 100%;
  height: auto;
  margin-bottom: 13px;
  overflow: hidden;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
}
/*
 *title:猜你喜欢
 */
.gyn-title {
  height: 35px;
  border-bottom: 0.5px solid #e6e6e6;
}
.gyn-title a {
  display: inline-block;
  line-height: 35px;
  text-decoration: none;
}
.gyn-title .left {
  float: left;
  width: 100px;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  text-align: left;
  border-left: 2px solid #cc99cc;
  transition: all 0.2s ease-in-out;
}
.gyn-title .left:hover {
  border-left: 5px solid #cc99cc;
}
.gyn-title .right {
  float: right;
  margin-right: 10px;
  font-size: 11px;
  color: #999999;
}
.gyn-title .right:hover {
  text-decoration: underline;
}
/*
 *contents:猜你喜欢内容
 */
.gyn-contents {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 180px;
  margin-left: -10px;
  background-color: #ffffff;
}
.gyn-contents a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 13px;
}
.gyn-contents a:hover {
  color: #0092d2;
}
.gyn-contents li {
  float: left;
  display: block;
  width: 142px;
  height: 180px;
  box-sizing: border-box;
  margin-left: 10px;
}
.gyn-contents img {
  width: 142px;
  height: 142px;
}
.gyn-contents .commodity-title {
  display: inline-block;
  width: 142px;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
/*
 *最新内容
 */
.newest-comments,
.search-comments {
  width: 100%;
  height: auto;
  margin-bottom: 13px;
  overflow: hidden;
  border-radius: 1px;
  box-shadow: 0 0 2px #dab4da;
  background-color: #ffffff;
  padding-bottom: 8px;
  margin-bottom: 39px;
}
/**
 * 搜索结果
 */
.search-comments {
  margin-top: 0;
}
.sc-title li {
  width: auto !important;
}
/*
 title: 最新内容
 */
.nc-title,
.sc-title {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 35px;
  border-bottom: 0.5px solid #e6e6e6;
}
.nc-title .current,
.sc-title .current {
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
  background-color: #ffffff;
}
.nc-title li,
.sc-title li {
  position: relative;
  float: left;
  left: -1px;
  top: 1px;
  display: inline-block;
  width: 100px;
  height: 35px;
  box-sizing: border-box;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  cursor: pointer;
}
/*
 *最新点评列表
 */
.nc-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-bottom: 5px;
}
.nc-list li {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 8px;
  border-bottom: 0.5px solid #e6e6e6;
}
/*
 *点评列表项
 */
.item-title {
  display: inline-block;
  max-height: 60px;
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}
.item-title:hover {
  color: #0092d2;
}
.item-title:visited {
  color: #333333;
}
/*
 *点评内容
 */
.item-contents {
  width: 100%;
  height: 120px;
  margin-top: 10px;
}
.item-contents img {
  float: left;
  width: 120px;
  height: 120px;
}
.contents-right {
  float: left;
  width: 584px;
  height: 120px;
  margin-left: 8px;
}
.contents-label {
  width: 100%;
  height: 16px;
  color: #666666;
  font-size: 13px;
}
.contents-label > span {
  height: 100%;
  padding-right: 8px;
  line-height: 16px;
}
.contents-label a {
  text-decoration: none;
  color: #be7ebe;
}
.contents-label a:hover {
  text-decoration: underline;
}
.contents-detail {
  width: 100%;
  height: 54px;
  line-height: 18px;
  margin-top: 15px;
  color: #333333;
  font-size: 14px;
}
.item-btns {
  width: 100%;
  height: 15px;
  margin-top: 20px;
  color: #666666;
  font-size: 13px;
}
.time-label {
  float: left;
}
.view-all {
  float: right;
  color: #999999;
}
.view-all:hover {
  color: #0092d2;
}
/*
 *最多点击榜单
 */
.most-click {
  width: 100%;
}
.mc-head {
  width: 100%;
  height: 35px;
  border-bottom: 0.5px solid #e6e6e6;
}
/*
 *最多点击标题
 */
.mc-head-title {
  float: left;
  display: inline-block;
  width: 100px;
  height: 35px;
  padding-left: 10px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  text-align: left;
  border-left: 2px solid #cc99cc;
}
/*
 *榜单时间段
 */
.mc-head-time {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.mc-head-time li {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  line-height: 35px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.mc-head-time .current:after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  bottom: -1px;
  background-color: #cc99cc;
}
/*
 *列表
 */
.mc-body {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}
.mc-body .no-rank-li {
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.mc-body img {
  float: left;
  display: none;
  width: 70px;
  height: 70px;
}
.mc-body .mc-body-right {
  float: left;
  display: none;
  width: 150px;
  height: 70px;
  margin-left: 5px;
}
.mc-body li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 3px;
  line-height: 35px;
}
.mc-body li .brief-title {
  width: 100%;
  color: #1a1a1a;
  font-size: 14px;
  text-decoration: none;
}
.mc-body .current {
  height: 70px;
  overflow: visible;
  white-space: normal;
}
.mc-body .current .brief-title {
  display: none;
}
.mc-body .current img {
  display: block;
}
.mc-body .current .mc-body-right {
  display: block;
}
.mc-body .mc-body-title {
  display: block;
  height: 46px;
  line-height: 23px;
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
}
.mc-body .mc-body-title:hover {
  color: #0092d2;
}
.mc-body .mc-body-ext {
  display: block;
  height: 24px;
  box-sizing: border-box;
}
.mc-body .mc-body-ext span,
.mc-body .mc-body-ext a,
.mc-body .mc-body-ext a:hover {
  display: inline-block;
  height: 24px;
  width: 50px;
  line-height: 24px;
  font-size: 13px;
  color: #999999;
}
.mc-body .mc-body-ext a {
  text-decoration: none;
}
.mc-body .mc-body-ext a:hover {
  color: #cc99cc;
}
.no-more-contents {
  min-height: 120px;
  color: #999999;
  line-height: 120px;
  text-align: center;
  font-size: 20px;
}
.hidden-btn {
  display: none;
}
