body {
  font-family: "微软雅黑";
}
/*
 *内容主体外层
 */
/*
 *内容主体外层
 */
.main-wrapped {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
.main-container {
  width: 1000px;
  margin: 0 auto;
}
.main-container hr {
  margin: 15px 0;
  border: solid 0.5px #e6cce6;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
}
/*
 *当前位置
 */
.current-pos {
  width: 100%;
  font-size: 12px;
}
.current-pos a {
  color: #1a1a1a;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}
.current-pos a:hover {
  color: #cc99cc;
  text-decoration: underline;
}
.current-pos .split-line:before {
  content: ">>";
  margin: 0 2px;
}
